{
  "sourceMaps": true,
  "presets": [
    ["env", {"targets": {"browsers": ["last 2 versions", "safari >= 9", "ie >= 11"]}}],
    "stage-0",
    "react"
  ],
  "plugins": [
    ["transform-react-jsx", { "pragma": "h" }]
  ],
  "env":{
    "test": {
      "plugins": [
        ["babel-plugin-webpack-alias", {"config": "./webpack.config.babel.js"}]
      ]
    }
  }
}
